Stickies:

<ul>
  <li><a href="{{ '/Basics' | relative_url }}">Rotation Basics</a></li>
  <li><a href="{{ '/Ground Rules' | relative_url }}">Ground Rules</a>
  <li><a href="{{ '/Daily Flow - days' | relative_url }}">Daily Flow - Days</a>
  <li><a href="{{ '/Daily Flow' | relative_url }}">Daily Flow - Nights</a>
  <li><a href="{{ '/triages' | relative_url }}">Triages</a>
  <li><a href="{{ '/presentation_guide' | relative_url }}">Presentation Guide</a>
  <li><a href="{{ '/documentation' | relative_url }}">Documentation</a>
  <li><a href="{{ '/circ' | relative_url }}">Circumcisions</a>
  <li><a href="{{ '/Notes' | relative_url }}">Notes and Templates</a>
  <li><a href="{{ '/discharge' | relative_url }}">Discharges</a> 
</ul>
